[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
passlib = "*"
python-jose = "*"
pydantic-settings = "*"
python-dotenv = "*"
psycopg2 = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn app.main:app --reload"
test = "pytest"
